{{#if @site.members_enabled}}
	{{#unless @member}}
	<div class="margin-15">
		<section class="cta-subscribe">
			
				<div class="cta-subscribe__container">
					{{#if @custom.email_signup_text}}<h2 class="cta-subscribe__title">{{@custom.email_signup_text}}</h2>{{/if}}
					<p class="cta-subscribe__suptitle">A bi-weekly newsletter of design inspiration, resources and anything related to career development.</p>
					<a class="cta-subscribe__button" href="#/portal" data-portal>
						<div class="cta-subscribe__input">Enter your email</div>
						<span>Subscribe</span>
					</a>
				</div>
		</section>
	</div>
	{{/unless}}
{{/if}}